<style>
  .container.venta {
    margin-bottom: 20px;
  }
</style>

<div class="container venta">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="producto in productos">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" ng-src="{{ producto.pImagen }}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{ producto.pNombre }}</a></h4>
                                <p class="media-heading">
                                  {{ producto.pDescripcion }}
                                </hp5>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="number" min="1" class="form-control" id="exampleInputEmail1" ng-model="producto.cantidad" ng-change="vm.updateTotal($index)">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ producto.pPrecio }} Bs</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ producto.total }} Bs</strong></td>
                        <td class="col-sm-1 col-md-1">
                          <button type="button" class="btn btn-danger" ng-click="vm.removeProduct($index)">
                              <span class="glyphicon glyphicon-remove"></span> Remover
                          </button>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{ vm.calculateTotal() }} Bs</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default" ng-click="vm.continueShopping()">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continuar Comprando
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success" ng-click="vm.checkOut()">
                            Terminar Pedido <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
