<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-default bootstrap-panel">
      <div class="panel-heading">Productos mas buscados</div>
      <div class="panel-body">
        <div class="col-md-12 report-result small" style="overflow: auto; min-height: 600px; max-width: 600px;">
          <spinner ng-show="vm.isLoading1"></spinner>
          <div class="vertical-scroll" ng-if="vm.displayReport1">
            <table class="table table-striped">
              <tbody>
                <tr ng-repeat="item in vm.topProductos">
                  <td>{{item}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-default bootstrap-panel">
      <div class="panel-heading">Top de Categorias</div>
      <div class="panel-body">
        <div class="col-md-12 report-result small" style="overflow: auto;">
          <spinner ng-show="vm.isLoading2"></spinner>
          <canvas id="reportCategorias" ng-if="vm.displayReport2"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-default bootstrap-panel">
      <div class="panel-heading">Top de Proveedores</div>
      <div class="panel-body">
        <div class="col-md-12 report-result small" style="overflow: auto;">
          <spinner ng-show="vm.isLoading3"></spinner>
          <div class="vertical-scroll" ng-if="vm.displayReport3">
            <table class="table table-striped">
              <tbody>
              <tr ng-repeat="item in vm.topProveedores">
                <td><img src="{{item.image}}" alt="Logo" style="width: 53px; height: 30px;"></td>
                <td>{{item.name}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
