<form class="input-group" ng-submit="vm.buscar()">
  <input type="text" class="form-control with-warning-addon" placeholder="Ferreteria" aria-describedby="basic-addon2" ng-model="vm.busqueda.nombre">
  <span class="input-group-addon input-group-addon-primary addon-right searchable" id="basic-addon2" ng-click="vm.buscar()">Buscar</span>
</form>

<spinner ng-hide="vm.isLoading"></spinner>

<div class="table-responsive" ng-show="vm.isLoading">
  <table class="table">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Direccion</th>
      </tr>

      <tr ng-repeat="item in vm.almacenes">
        <td>{{ $index + 1 }}</td>
        <td>{{ item.aNombre }}</td>
        <td>{{ item.aDireccion }}</td>
        <td>
          <div class="buttons">
            <button class="btn btn-primary editable-table-button btn-xs" ng-click="vm.goToProductos(item.id)" style="width: auto;">
              <i class="fa fa-inbox"></i> Productos
            </button>
            <button class="btn btn-default editable-table-button btn-xs" ng-click="vm.goToVendedores(item.id)" style="width: auto;">
                <i class="fa fa-users"></i> Vendedores
              </button>
            <button class="btn btn-info editable-table-button btn-xs" ng-click="vm.goTo(item.id)">Editar</button>
            <button class="btn btn-danger editable-table-button btn-xs" data-toggle="modal" ng-click="vm.remove($index, item.id)">Borrar</button>
          </div>
        </td>
      </tr>
  </table>
</div>
