<div class="widgets">
  <div class="row">
    <div class="col-md-6">
      <div
          ba-panel
          ba-panel-title="# {{ vm.producto.id }}"
          ba-panel-class="with-scroll panel-primary bootstrap-panel">
        <form name="productForm">
          <div class="form-group">
            <label for="input01">Nombre</label>
            <input type="text" class="form-control" id="input01" name="nombre" placeholder="Nombre" ng-model="vm.producto.pNombre" required>
          </div>
          <div class="form-group">
            <label for="input02">Descripcion</label>
            <textarea class="form-control" id="input02" placeholder="Descripcion" ng-model="vm.producto.pDescripcion"></textarea>
          </div>
          <div class="form-group">
            <label for="input03">Imagen</label>
            <img style="max-height: 120px; display: block;" src="{{ vm.producto.pImagen }}">
          </div>
          <div class="form-group">
            <label for="input04">Precio</label>
            <input type="text" class="form-control" id="input04" placeholder="Bs" ng-model="vm.producto.pPrecio">
          </div>
          <div class="form-group">
            <label for="input05">Cantidad en mano</label>
            <input type="text" class="form-control" id="input05" placeholder="0" ng-model="vm.producto.pCantidadEnMano">
          </div>
          <div class="buttons" style="text-align: right;">
            <button class="btn btn-info" ng-click="vm.goTo(item.id)">Editar</button>
            <button class="btn btn-danger" data-toggle="modal" ng-click="vm.remove($index, item.id)">Borrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
