<div class="modal-content">
  <div class="modal-header bg-danger">
    <i class="ion-flame modal-icon"></i><span> Borrar</span>
  </div>
  <div class="modal-body text-center">La informacion de {{ vm.entity.title }} sera eliminada</div>
  <div class="modal-body text-center">{{ vm.entity.name }}</div>  
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="vm.ok()">OK</button>
    <button type="button" class="btn" ng-click="vm.cancel()">Cancel</button>
  </div>
</div>
