<style>
  .table > tbody > tr > td {
    font-weight: 300;
    display: table-cell;
    vertical-align: inherit;
  }
</style>

<form class="input-group" ng-submit="vm.buscar()">
  <input type="text" class="form-control with-warning-addon" placeholder="Propietario" aria-describedby="basic-addon2" ng-model="vm.busqueda.nombre">
  <span class="input-group-addon input-group-addon-primary addon-right searchable" id="basic-addon2" ng-click="vm.buscar()">Buscar</span>
</form>

<spinner ng-hide="vm.isLoading"></spinner>

<div class="table-responsive" ng-show="vm.isLoading">
  <table class="table">
      <tr>
        <th>#</th>
        <th>CI</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Direccion</th>
        <th>Telefono</th>
      </tr>

      <tr ng-repeat="item in vm.propietarios">
        <td>{{ item.id }}</td>
        <td>{{ item.pCI }}</td>
        <td>{{ item.pNombre }}</td>
        <td>{{ item.pApellidos }}</td>
        <td>{{ item.pDireccion }}</td>
        <td>{{ item.pTelefono }}</td>
        <td>
          <div class="buttons">
            <button class="btn btn-primary editable-table-button btn-xs" ng-click="vm.user(item.idUser)"><i class="fa fa-user"></i> Usuario</button>
            <button class="btn btn-info editable-table-button btn-xs" ng-click="vm.goTo(item.id)">Editar</button>
            <button class="btn btn-danger editable-table-button btn-xs" data-toggle="modal" ng-click="vm.remove($index, item)">Borrar</button>
          </div>
        </td>
      </tr>
  </table>
</div>
