<style>
  .form-group {
    display: flex;
  }

  .form-group .image-logo {
    width: 40px;
    height: 40px;

    margin: 0 12px 0 0;
  }

  .form-group .image-logo > img {
    width: 100%;
  }

  .form-group .search-text {
    flex: 1;
    padding-top: 3px;
    margin-right: 12px;
  }

  .lista-productos {
    display: flex;
    flex-wrap: wrap;
  }

  .product-card {
    width: calc(20% - 32px);
    margin: 16px;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
  }

  .product-card .product-image {
    width: 100%;
    height: 180px;
    padding: 8px;
  }

  .product-card .details {
    padding: 16px;
  }

  .product-card .details .name {
    font-size: 18px;
    color: #209e91;
    margin: 0 0 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
  }

  .product-card .details .description {
    font-weight: 300;
    margin: 0 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-card .details .options {
    display: flex;
    justify-content: space-between;
  }

  .product-card .details .options .price {
    font-size: 16px;
    font-weight: bold;
  }

  .paginacion {
    text-align: center;
  }

  .input-group {
    width: 20%;
    margin-bottom: 15px;
    float: left;
    margin: 0px 16px 0 53px;
  }

  .input-group + .input-group {
    margin-left: 16px;
  }

  @media only screen and (max-width: 768px) {
    .product-card {
      width: calc(50% - 32px);
    }
  }

  @media only screen and (max-width: 480px) {
    .product-card {
      width: calc(100% - 32px);
    }

    .form-group {
      flex-direction: column;
    }

    .input-group {
      width: 100%;
      margin: 0;
    }

    .input-group + .input-group {
      margin: 0;
    }
  }
</style>

<div class="widgets bsuqueda">
  <div class="row">
    <div class="col-md-12 buscador">
      <form class="form-group" ng-submit="vm.buscar()">
        <div class="image-logo">
          <img src="assets/img/wrench.png" alt="">
        </div>
        <div class="search-text">
          <input type="text" class="form-control" id="exampleInputName2" autocomplete="off"
            placeholder="Buscar Herramienta"
            ng-model="vm.busqueda.palabras"
            uib-typeahead="producto for producto in vm.getAutocomplete($viewValue)" 
            typeahead-loading="vm.loadingLocations"
            typeahead-no-results="vm.noResults"
            ng-model="vm.busqueda.palabras"
            ng-model-options="{debounce: 200}">
        </div>

        <input type="submit" class="btn btn-primary" value="Buscar">
        
        <div class="input-group">
          <input type="text" class="form-control with-warning-addon" placeholder="0" aria-describedby="basic-addon2" ng-model="vm.busqueda.desde">
          <span class="input-group-addon input-group-addon-warning addon-right" id="basic-addon2">Desde BS</span>
        </div>
        <div class="input-group">
          <input type="text" class="form-control with-warning-addon" placeholder="0" aria-describedby="basic-addon2" ng-model="vm.busqueda.hasta"> 
          <span class="input-group-addon input-group-addon-warning addon-right" id="basic-addon2">Hasta BS</span>
        </div>
      </form>
    </div>
  </div>

  <div class="row lista-productos">
    <spinner ng-if="!vm.isLoading"></spinner>
    <div class="product-card" ng-repeat="producto in vm.productos">
      <img class="product-image" src="{{ producto.pImagen }}" alt="Producto">

      <div class="details">
        <div class="name">{{ producto.pNombre }}</div>
        <div class="description">{{ producto.pDescripcion }}</div>
        
        <div class="options">
          <div class="price">{{ producto.pPrecio }} Bs</div>
          <button type="button" class="btn btn-primary btn-icon" ng-click="vm.openProduct(producto)">
            <i class="ion-arrow-expand"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="paginacion" ng-if="vm.hayListaProductos">
    <ul uib-pagination total-items="vm.total"
        ng-model="vm.page"
        max-size="vm.maxSize"
        items-per-page="vm.itemsPerPage"
        class="pagination-sm"
        boundary-links="true"
        force-ellipses="true"
        ng-change="vm.buscar()"
        first-text="Primero"
        last-text="Ultimo"
        next-text="Siguiente"
        previous-text="Previo"></ul>
    </div>
</div>
