<div class="widgets">  
  <div class="row">
    <div class="col-md-6">
      <div
          ba-panel
          ba-panel-title="Proveedor #{{ vm.proveedor.id }}"
          ba-panel-class="with-scroll">
        <form name="vm.form" ng-submit="vm.upload(vm.form.$valid)" novalidate>
          <div class="form-group"
              ng-class="{'has-error': vm.form.pNombre.$invalid && (vm.form.pNombre.$dirty || vm.form.$submitted)}">
            <label for="input01">Nombre</label>
            <input type="text" class="form-control" id="input01" name="pNombre" placeholder="Nombre" ng-model="vm.proveedor.pNombre" required>
            <span class="help-block error-block basic-block">Requerido</span>
          </div>
          <div class="form-group"
              ng-class="{'has-error': vm.form.pDescripcion.$invalid && (vm.form.pDescripcion.$dirty || vm.form.$submitted)}">
            <label for="input02">Descripcion</label>
            <textarea class="form-control" id="input02" name="pDescripcion" placeholder="Descripcion" ng-model="vm.proveedor.pDescripcion" required></textarea>
            <span class="help-block error-block basic-block">Requerido</span>
          </div>
          <div class="form-group">
            <label for="input02">Imagen</label>
            <div class="drop-box">
                <img
                  ngf-select
                  ngf-thumbnail="vm.file || vm.proveedor.pLogo || '/assets/pictures/empty.png'"
                  ng-model="vm.file"
                  accept="image/*"
                  ngf-max-size="1MB"
                  required>
              </div>
          </div>

          <div class="buttons" style="text-align: right;">
            <button class="btn btn-info">Guardar</button>
            <a class="btn btn-danger" data-toggle="modal" ng-click="vm.remove()">Borrar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    