<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <h3 class="with-line">Informacion del Usuario</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Foto</label>

          <div class="col-sm-9">
            <div class="userpic">
              <div class="userpic-wrapper">
                <!-- <img src="assets/img/app/profile/empty-profile.png" ng-click="uploadPicture()"> -->
                <img
                  ngf-select
                  ngf-thumbnail="vm.file || vm.user.imagen || 'assets/img/app/profile/empty-profile.png'"
                  ng-model="vm.file"
                  accept="image/*"
                  ngf-max-size="2MB"
                  required>
              </div>
              <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
              <a href class="change-userpic" ng-click="uploadPicture()">Cambiar foto de Perfil</a>
              <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Nombre</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputFirstName" placeholder="" value="{{ vm.nombre }}">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">Apellidos</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLastName" placeholder="" value="{{ vm.apellidos }}">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Privilegio:</label>

          <div class="col-sm-9">
            <select class="form-control" ng-model="vm.user.privilegio" disabled>
              <option value="administrador">Administrador</option>
              <option value="propietario">Propietario</option>
              <option value="vendedor">Vendedor</option>
            </select>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Usuario</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="username" placeholder="" ng-model="vm.user.name" readonly>
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Change Password</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">Password</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="" ng-model="vm.user.password">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirmar Password</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="" ng-model="vm.user.password">
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-warning btn-with-icon save-profile" ng-click="vm.resetPassword()">
      <i class="fa fa-unlock-alt" aria-hidden="true"></i>Resetear Contraseña
    </button>
    <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-click="vm.upload()">
      <i class="ion-android-checkmark-circle"></i>Actualizar Usuario
    </button>
  </div>
</div>
