<div class="row product-detail-info">
  <div class="close" ng-click="vm.closeDialog()">
    <i class="fa fa-times-circle" aria-hidden="true"></i>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-3 UPC">
    <div class="title row" style="margin: 0;">
      <div class="col-xs-10">
          {{:: vm.item.pNombre }}
      </div>
      
      <div class="col-xs-2 visible-xs">
        <button type="button" class="btn btn-default btn-icon" ng-click="vm.showCodeItems()">
          <i class="fa fa-info"></i>
        </button>
      </div>
    </div>

    <img src="{{:: vm.item.pImagen }}" class="code-item visible-md visible-lg" alt="Producto">
    <div class="code-item wrapper-barcode visible-md visible-lg">
      <svg id="barcode"></svg>
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-9 info">
    <spinner ng-show="vm.isLoading"></spinner>

    <div class="row product" ng-repeat="product in vm.products">
      <div class="col-xs-10">
        <div class="title">
          {{:: product.producto }}
        </div>
        <div class="address" style="font-weight: 300;">
          <i class="fa fa-building-o"></i> {{:: product.aNombre }} <br>
          <i class="fa fa-map-marker"></i> {{:: product.aDireccion }} <br>
          
          <p class="distance" ng-show="product">
            {{ product.labelDistance }}
          </p>
        </div>
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-primary btn-with-icon visible-md visible-lg" ng-click="vm.openItemInfo(product)">
          <i class="fa fa-inbox"></i> Detalle
        </button>

        <button type="button" class="btn btn-primary btn-icon visible-xs" ng-click="vm.openItemInfo(product)">
          <i class="fa fa-inbox"></i>
        </button>
      </div>
    </div>

    <div class="footer">
      <div class="paginacion" ng-if="vm.hayProductos">
        <ul uib-pagination total-items="vm.total"
            ng-model="vm.page"
            max-size="vm.maxSize"
            items-per-page="vm.itemsPerPage"
            class="pagination-sm"
            boundary-links="true"
            force-ellipses="true"
            ng-change="vm.buscar()"
            first-text="Primero"
            last-text="Ultimo"
            next-text="Siguiente"
            previous-text="Previo"></ul>
      </div>
    </div>
  </div>
</div>
